@import "tailwindcss";
@import "@nuxt/ui";

@theme{
    --font-cinzelReg: "Cinzel", serif;
    --font-cinzelDeco: "Cinzel Decorative", serif;
    --font-spartan: "League Spartan", sans-serif;
    --font-cormorant: "Cormorant", serif;
    --font-crimson: "Crimson Text", serif;
    --font-inter: "Inter", sans-serif;
    --font-arialNova: "ArialNova", ui-sans-serif, system-ui, sans-serif;
    --font-sloopScript: "Sloop Script Regular", cursive;
    --font-edwardian: "edwardianscriptitc", cursive;
}