@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

@theme{
    --font-cinzelReg: "Cinzel", serif;
    --font-cinzelDeco: "Cinzel Decorative", serif;
    --font-spartan: "League Spartan", sans-serif;
    --font-cormorant: "Cormorant", serif;
    --font-crimson: "Crimson Text", serif;
    --font-inter: "Inter", sans-serif;
}